.navbar{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    background-color: hsl(271, 76%, 53%);
    position: fixed;
    top: 0px;
   
    
}

.navbar a{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    font-size: large;
    font-weight: bold;
    width:50%;
    height: 1cm;
    padding-top: 10px;
    text-decoration: none;
    color: whitesmoke;
    margin-top: 20px;
    margin-left: 10px;
}